ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li a {
  display: block;
  color: white;
  text-align: top center;
  padding: 0px 180px;
  text-decoration: none;
  left: 0; 
  transition: 2.5s;
}

li a:hover {
  background-color: green;
  background position: center;
}

li {
  float: left;
}

body {
  background-image: url("Background.jpg");
}
	
h1 {
  color: Blue;
  margin-left: 40px;
  font-weight: bold;
} 

.HeadBar {
  background-color: #111;
  width: 1830px;
  margin-right: auto;
  margin-left: auto;
  border: 5px solid green;
  padding: 30px;
  margin: 0px;
  position: sticky;
}

.Web_Header {
  border-radius: 25px;
  border: 1px solid gray;
  background-position: center top;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  background-color: #d0f0f6;
  text-align: center;
  padding: 8px;
  position: relative;
}

.Web_Body {
  border-radius: 25px;
  border: 1px solid gray;
  background-position: center top;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  background-color: #d0f0f6;
  text-align: center;
  padding: 8px;
}

.Web_Footer {
  border: 1px solid gray;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: #d0f0f6;
  text-align: center;
  padding: calc((var(--footer-height) - var(--footer-text-size)) / 2);
}