//Hyperlink CSS code 
a.one:link {color:#ff0000;}
a.one:visited {color:#0000ff;}
a.one:hover {color:#ffcc00;}
	
body {
  background-color: Gray;
}

h1 {
  color: Blue;
  margin-left: 40px;
  font-weight: bold;
} 

.HeadBar {
  background-color: #111;
  width: 1830px;
  margin-right: auto;
  border: 5px solid green;
  padding: 30px;
  margin: 0px;
}

.Hyperlink_Bar {
  border-radius: 25px;
  border: 1px solid gray;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  background-color: #d0f0f6;
  text-align: left;
  padding: 8px;
}

.Web_Header {
  border-radius: 25px;
  border: 1px solid gray;
  background-position: center top;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  background-color: #d0f0f6;
  text-align: center;
  padding: 8px;
}

.Web_Footer {
  border-radius: 25px;
  border: 1px solid gray;
  background-position: center bottom;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  background-color: #d0f0f6;
  text-align: center;
  padding: 8px;
}